body{
    margin: 0px;
    padding: 0px;
    font-family:Georgia, 'Times New Roman', Times, serif
}

img{
    max-width: 80%;
    height: auto;
}

h2{
    font-size: 28px;
    margin: 0px;
    padding: 0px;
}

p{
    font-size: 20px;
    margin: 0px;
    padding: 0px;
}

.hero-img{
    padding-top: 32px;
    padding-bottom: 32px;
    max-width: 40%;
    height: auto;
}

.information img {
    max-width: 82%;
    max-height: 90%;
    border-radius: 25px;
    border: 4px solid rgb(255, 199, 199);
}

.header{
    background-color: #1F2937;
    display: flex;
    flex: 1;
    justify-content: space-around;
}

.header-logo{
    display:flex;
    align-items: center;
    font-size: 24px;
    color: #F9FAF8;
}

.hero{
    background-color: #1F2937;
    padding-left: 60px;
    padding-right: 32px;
    display:flex;
    justify-content: center;
    flex: 1;
}

.hero-text{
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.hero-title{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 90px;

}

.hero-description{
    flex-wrap: wrap;
    font-size: 18px;
    color: #E5E7EB;
}

.signup{
    background-color: #3882F6;
    font-size: 20px;
    color: #F9FAF8;
    align-self: flex-start; /*prevent button from stretching*/
    border: none;
    border-radius: 15px;
    padding: 8px 16px;
    margin-top: 12px;
}

.information{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-title-container{
    display: flex;
    justify-content: center;
}

.info-title{
    padding: 16px;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.info-photos{
    margin: 0px 10%;
    display: flex;
}

.photo-text{
    text-align: center;
    padding: 16px 36px;
}

.info-one,
.info-two,
.info-three,
.info-four{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    max-width: 25%;
}

.quote{
    background-color: #E5E7EB;
    display:flex;
    flex-direction: column;
    padding: 10% 15%;
}

.quote-main{
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
}

.quote-author{
    align-self: flex-end;
    margin-top: 12px;
    font-weight: 800;
    font-size: 24px;
}

.call-to-action-box{
    margin: 8% 12%;
    padding: 10% 15%;
    border-radius: 15px;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
}

.call-to-action-container{
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.call-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 16px;
    color: white;
}

.call-button{
    background-color: #3882F6;
    font-size: 20px;
    color: #F9FAF8;
    display: flex;
    justify-self: flex-end; /*prevent button from stretching*/
    align-self: center;
    border: solid white 2px;
    border-radius: 15px;
    padding: 8px 16px;
    flex-shrink: 0;
}

footer{
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    padding: 32px 0px;
    
}

a:link{
    color: rgba(255, 255, 255, 0.911);
    text-decoration: none;
}

li {
    list-style-type: none;
    padding: 8px;
}

.links{
    display:flex;
    align-items: center;
}